
script[type="text/plain"] {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;

}

body {
    color: red;
    background-color: blue;
    padding: 5px;
}

body> .rows {
    background: white;
    color: red;
    border: 3px solid black;
    text-align: center;
}

h1 {
    text-align: center;
}