
script[type="text/plain"] {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;

}

body {
    color: red;
    background-color: blue;
    padding: 100px;
}